.milkdown {
  .ProseMirror.editor {
    outline: none;
  }

  /* .prosemirror-virtual-cursor + *, */
  & .ProseMirror.editor *:first-child {
    margin-top: 0;
  }
}

.milkdown-tooltip {
  svg {
    fill: var(--color-base-content);
    width: 14px;
    height: 14px;
  }
}

.milkdown .drag-handle {
  @apply absolute btn btn-xs btn-square btn-soft;
  @apply hidden md:flex;
  transition: all 0.15s ease-in-out;

  &[data-show="false"]:not(:focus-within) {
    opacity: 0;
  }

  & svg {
    fill: var(--color-base-content);
    width: 9px;
  }
}

.prosemirror-virtual-cursor {
  @apply absolute;
}

.milkdown .slash-menu {
  @apply absolute;

  &[data-show="false"] {
    display: none;
  }
}

.milkdown .placeholder::before {
  pointer-events: none;
  white-space: pre;
  content: attr(data-placeholder);
  opacity: 0.6;
}

.milkdown .milkdown-table-block {
  .milkdown-icon svg {
    fill: var(--color-base-content);
    width: 14px;
    height: 14px;
  }

  & .drag-preview {
    @apply absolute opacity-60;
  }

  & .handle.cell-handle {
    @apply btn btn-xs btn-soft z-50;

    &[data-role="col-drag-handle"] {
      @apply px-1 h-4 w-8;
      transform: translateY(50%);
    }

    &[data-role="row-drag-handle"] {
      @apply py-1 w-4;
      transform: translate(50%);
    }
  }

  & .drag-preview[data-show="false"] {
    display: none;
  }

  .handle {
    position: absolute;
  }

  & [data-show="false"]:not(:focus-within) {
    opacity: 0;
  }

  & .button-group[data-show="false"] {
    display: none;
  }

  & .button-group {
    @apply absolute flex gap-2 bg-base-200 p-2 rounded-sm;
    transform: translate(-50%);
    left: 50%;
    top: -45px;

    & button {
      @apply btn btn-soft btn-square btn-xs;
    }
  }

  & .selectedCell {
    @apply bg-base-200;
  }

  & .line-handle {
    @apply bg-primary;
  }

  & .line-handle .add-button {
    transform: translate(-50%, -50%);
    @apply absolute btn btn-xs btn-square btn-soft z-30;
  }

  & .line-handle[data-role="y-line-drag-handle"] {
    width: 1px;
  }

  & .line-handle[data-role="x-line-drag-handle"] {
    height: 1px;
  }
}

.prose .milkdown table {
  & td:first-child,
  & th:first-child {
    padding-left: 1.25em;
  }

  th {
    padding-top: 0.75em;
  }
}
