.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  opacity: 0.7;
  pointer-events: none;
}

.tiptap img.ProseMirror-selectednode {
  outline: solid 2px var(--color-primary);
}
