# NextAuth
AUTH_SECRET=""
NEXTAUTH_URL=http://localhost:5000

# Google SSO
GOOGLE_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""

# DB
DATABASE_POSTGRES_URL_NON_POOLING=""

# Blob storage prod:
BLOB_READ_WRITE_TOKEN=""
# Blob storage local:
LOCAL_STORAGE_PATH=public/blobs

# Emails prod:
AUTH_RESEND_KEY=""
# Email locals:
EMAIL_SERVER_HOST=localhost
EMAIL_SERVER_PORT=1025
