@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

html {
  scrollbar-gutter: auto !important;
}

.mdx-editor {
  background-color: var(--color-base-200);
}

.mdxeditor-root-contenteditable .prose {
  color: var(--tw-prose-body);
  min-height: 440px;
}

.mdx-prose-fix tfoot,
.mdx-prose-fix thead {
  border: none;
}

.mdx-prose-fix td,
.mdx-prose-fix th {
  padding: 0;
  vertical-align: inherit;
}

.mdxeditor-popup-container {
  input[type="file"] {
    @apply file-input;
  }
  button[type="reset"] {
    @apply btn btn-primary;
  }
  button[type="submit"] {
    @apply btn btn-secondary;
  }
}
